@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


a {
    text-decoration: underline;
    color: blue;

    &:hover {
        color: rgb(0, 132, 255);
    }
}

button {
    border: 1px solid lightgrey;
    padding: 0.25rem;
    border-radius: 10px;
}

