a {
	text-decoration: underline;
	color: blue;

	&:hover {
		color: rgb(0 132 255);
	}
}

button {
	border: 1px solid lightgrey;
	padding: 6px 8px;
	border-radius: 12px;
	box-shadow: 4px 4px 5px 0 rgb(0 0 0 / 70%);
}

button:active {
	padding: 5px 7px;
	box-shadow: none;
}
